{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}
<h2>Importar Dados por URL</h2>
<form method="post">
    <label for="url">URL do arquivo (.json ou .zip):</label>
    <input type="url" name="url" id="url" class="form-control mb-3" required
        placeholder="https://exemplo.com/dados.json">
    <button type="submit" class="btn btn-primary">Importar</button>
</form>
{% set mensagens = get_flashed_messages() %}
{% if mensagens %}

    {% for msg in mensagens %}
    <div class="alert alert-error" role="alert">
        {{ msg }}
    </div>
    {% endfor %}

{% endif %}

{% endblock %}